<div>
  <h1 class="h1 mb-4">Daftar</h1>
  <% @user.errors.full_messages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
  <% end %>
  <div style="max-width: 500px">
    <%= form_tag("/users/create") do %>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="name" name="name" value="<%= params[:name] %>" placeholder=" " required>
        <label for="name">Nama</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" id="email" name="email" value="<%= params[:email] %>" placeholder=" " required>
        <label for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="password" id="password" name="password" value="<%= params[:password] %>" placeholder=" " required>
        <label for="password">Password</label>
      </div>
      <div>
        <input class="btn btn-dark" type="submit" value="Daftar">
      </div>
    <% end %>
  </div>

</div>