<div>
  <h1 class="mb-4">Dashboard</h1>
  <div class="bg-dark rounded-3 p-4 mb-5">
    <div class="d-flex">
      <p class="h1 text-secondary mb-4 me-4 flex-grow-1">Profil</p>
      <div class="flex-end">
        <%= link_to("Ubah Profil", "#", class: "btn btn-warning") %>
      </div>
    </div>
    <div class="d-flex flex-wrap">
      <div class="bg-secondary p-4 rounded-3 text-center align-middle me-5" style="height: 100px; width: 100px;">
        profile image
      </div>
      <div class="flex-grow-1">
        <div class="text-white mt-3">
          <strong class="text-secondary me-3">Nama:</strong><%= @user.name %>
        </div>
      </div>
    </div>
  </div>
  <h2 class="h3 mb-3">Acara Baru-Baru Ini</h2>
  <table class="table table-stripped table-hover">
    <thead>
      <tr class="table-dark">
        <th scope="row">Nama Acara</th>
        <th scope="row">Waktu</th>
        <th scope="row">Tempat</th>
        <th colspan="2" scope="row" class="text-center">Aksi</th>
      </tr>
    </thead>
    <tbody>
      <% @events.where(user_id: @current_user.id).limit(5).each do |event| %>
        <% day_id = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jum'at", "Sabtu"] %>
        <% month_id = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"] %>
          <tr class="align-middle">
            <td><%= link_to(event.name, "/events/#{event.id}", class: "link-dark") %></td>
            <td><%= event.date.strftime("#{day_id[event.date.strftime("%w").to_i]}, %d #{month_id[event.date.strftime("%-m").to_i - 1]} %Y - %H:%M") %></td>
            <td><%= event.place %></td>
            <td class="text-center">
              <div class="btn-group">
                <%= link_to("ubah", "/events/#{event.id}/edit", class: "btn btn-warning") %>
                <%= link_to("hapus", "/events/#{event.id}/delete", class: "btn btn-danger") %>
              </div>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>