<div>
  <h1 class="h1 mb-5">Ubah Acara</h1>
  <div class="mb-5">
    <%= form_tag("/events/#{@event.id}/update") do %>
      
      <div class="form-floating mb-3">
        <input class="form-control" type="text" name="name" id="name" value="<%= @event.name %>" placeholder="Contoh: Pertemuan Pemuda" required>
        <label for="name">Nama Acara</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="datetime-local" name="date" id="date" value="<%= @event.date %>" required>
        <label for="date">Tanggal</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" name="place" id="place" value="<%= @event.place %>" placeholder="Contoh: Balai RW 02" required>
        <label for="place">Tempat</label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" name="description" id="desc" style="height: 100px" placeholder="Contoh: Pertemuan untuk membahas persiapan acara peringatan kemerdekaan"><%= @event.description %></textarea>
        <label for="desc">Deskripsi <span>(*Opsional)</span></label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" name="opening" id="opening" style="height: 100px" placeholder="Contoh: Kami mengundang saudara untuk datang ke acara:"><%= @event.opening %></textarea>
        <label for="opening">Pesan Pembuka <span>(*Opsional)</span></label>
      </div>
      <div class="form-floating mb-3">
        <textarea class="form-control" type="text" name="closing" id="closing" style="height: 100px" placeholder="Contoh: Atas perhatiannya kami ucapkan terima kasih"><%= @event.closing %></textarea>
        <label for="closing">Pesan Penutup <span>(*Opsional)</span></label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" name="sender" id="sender" value="<%= @event.sender %>" placeholder="Nama Panggilan atau Nama Lengkap" required>
        <label for="sender">Nama Pengirim</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" type="text" name="sender_status" id="status" value="<%= @event.sender_status %>" placeholder="Contoh: 'Ketua RW', atau bisa diisi dengan kata 'dari' atau 'oleh'" required>
        <label for="status">Jabatan Pengirim</label>
      </div>
      <div>
        <input type="submit" value="Perbarui Acara">
      </div>
    <% end %>
  </div>
</div>